<div class="row">
    <div class="col-sm-6 col-md-8">
        <div>
            <h1>
                <i class="fa fa-cutlery"></i>
                Commandez vos pizzas Dominos<br>
                <small>larges et livrées sur le campus pour seulement 8€</small>
            </h1>
            <p>
                <i class="fa fa-asterisk"></i>
                Ouvert seulement aux étudiants de <strong>SUPINFO</strong>
            </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div>
            <h2>
                Commande
                <small>du <time>06/03/2015</time></small>
            </h2>
            <p>
                <label class="label label-success">
                    <i class="fa fa-unlock"></i>
                    Ouverte
                </label>
                <label class="label label-default">
                    <i class="fa fa-line-chart"></i>
                    Déjà 13 pizzas commandées
                </label>
            </p>
            <div class="clock"></div>
        </div>
    </div>
</div>