{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-edit"></i>
            {{ 'change_password.submit'|trans }}
        </button>
    </div>
</form>
