{% extends '::base.html.twig' %}

{% block title %}Editer la session #{{ session.id }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Editer la session #{{ session.id }}</h1>
            <p>
                <a href="{{ path('session') }}" class="btn btn-default">
                    Retourner à la liste
                </a>
            </p>
        </div>
    </div>

    <div class="container">
        {{ form(edit_form) }}
    </div>
{% endblock %}
